<main>





   <div class="wrapper container">
      <nav class="navbar sticky-top navbar-light bg-light flex-fill">
         <a class="navbar-brand" href="#">GARDENR</a>
         <ul class="nav justify-content-end">
            <li class="nav-item">
               <span class="navbar-text">
                  Welcom back {{username}}
               </span>
            </li>
            
            <li class="nav-item">
               <a class="nav-link text-dark" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </li>
         </ul>





      </nav>


      <div class="sidebar">
         

         <div class="card text-dark plant-list">
            <h4 class="card-header">Your Plants</h4>
            <div class="list-group list-group-flush" id="plant-section">

            </div>

            <button type="button" class="btn btn-success"
               onclick="window.location.href = '/profile/gardens';">Add/Remove Plant</button>

         </div>
      </div>
      <div class="jumbotron">
         <div id="loadingMessage"></div>
         <canvas id="myChart"></canvas>
      </div>

      <div class="content">
         <div class="card a">card a</div>
         <div class="card b">card b</div>
         <div class="card c">card c</div>
         <div class="card d">card d</div>
      </div>

   </div>










</main>
