.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas:
    "navbar navbar navbar"
    "jumbotron jumbotron  jumbotron"
    "jumbotron jumbotron jumbotron"
    "sidebar  content  content"
    "sidebar  content  content";
  background-color: #fff;
  color: #444;
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
  
  border-radius: 5px;
  //padding: 50px;
  font-size: 100%;
}

.jumbotron {
  grid-area: jumbotron;
  border-style: dashed;
  
  border-radius: 5px;
  min-height: 40vh;
  font-size: 150%;

}

.content {
  grid-area: content;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "a b"
    "c d";
  background-color: gray;

}

/* .card {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  // padding: 50px;
  font-size: 150%;
} */

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

